.venv/
**/.venv/

.vscode/

node_modules/
**/node_modules/

dist/
**/dist/

__pycache__/
*.pyc

.env

# Catalogue tools generated content
qcart-ai/catalogue_tools/images/
qcart-ai/catalogue_tools/logs/

*.env