# Rainforest API
RAINFOREST_API_KEY=0A8811A59E194054A363F6043C4D1951
AMAZON_DOMAIN=amazon.in

# AWS Configuration
AWS_REGION=ap-south-1
S3_BUCKET=qcart-product-images
S3_FOLDER=products

# CloudFront (set after creating distribution)
CLOUDFRONT_URL=https://cdn.qcart.ai
